.loadStatus {
	margin: 0 auto;
	width: 200px;
	.counter {
		float: right;
	}
	> div {
		margin-top: 10px;
	}
	div div {
		display: inline-block;
	}
}

.slider {
	width: 800px;
	  margin: 0 auto;
}

section {
	width: 100%;
}

#assetNav {
	display: none;
}